<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link href="/css/profile.css" rel="stylesheet">
  <link href="/css/header.css" rel="stylesheet">
</head>
<body>
  <%- include("partials/header") -%>

    <div class="container">
  <h1>Your Profile</h1>
  <% if (user.picture) { %>
    <img class="block" src="<%= user.picture %>" width="200">
  <% } %>
  <p>Name: <%= user.name %></p>
  <p>Email: <%= user.email %></p>

  <h2>Stats</h2>
  <p>Total Notes: <%= notes.length %></p>
  <p>Last Note Created: <%= notes[notes.length - 1]?.title || "No notes yet" %></p>


</div>

<%- include("partials/footer") %>

<script src="/js/dark-mode.js"></script>

</body>
</html>

